<p id="notice"><%= notice %></p>

<br>

<%= link_to 'Add your Picture', new_product_path, class:'btn btn-primary' %>
<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Snap</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
          <tr>
            <th scope="row"><%= product.id%></th>
            <td><%= product.name %></td>
            <td><%= image_tag("#{product.image}", :alt => "rss feed", :class =>"image-width") %></td>
            <td>
                <%= link_to 'Edit', edit_product_path(product) %>
                <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>    
            </td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>

